
html {
    scroll-behavior: smooth;
}
div
.title h1{
    border: 5px solid blue;
}
.gallery {

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.form-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;

    text-align: center;
}
figure {
    width: 200px;
    text-align: center;
}
figcaption {
    word-wrap: break-word;
}
form-container {
    align-items: center;
}