
html {
    scroll-behavior: smooth;
h1, h2{
    text-align: center;
}
.gallery {

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

div {
    .form-container {

    
        text-align: center;
    }
}
figure {
    width: 200px;
    text-align: center;
}
figcaption {
    word-wrap: break-word;
}
form-container {
    align-items: center;
}
body {
    background-color: lightblue;
}